# =========================
# macOS
# =========================
.DS_Store

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# =========================
# Logs
# =========================
*.log

# =========================
# Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Temporary files
# =========================
*.tmp
*.temp

# =========================
# Build
# =========================
build/
dist/
out/


application.yml
application-*.yml